.productComments {
  border-top: 1px solid rgb(226, 226, 226);
  padding: 20px 10px;
  .productCommentList {
    margin-top: 40px;
    .ProductCommentListTitle {
      text-align: center;
    }
  }
}
